/* You can add global styles to this file, and also import other style files */
* { /* todos os elementos */

    padding: 0px; /*margem interna*/
    margin: 0px; /*margem externa */
    box-sizing: border-box; /* muda a estrutura de espacamento*/
    font-family:"inter"; 

}